.text-font{
    font-size: 35px;
    font-weight: bolder;
}
.height{
    height: 100vh   ;
}
.error{
        color: red;
        font-size: large;
    
    }
    .success{
        color: green;
        font-size: large;
  
    }