{% extends 'care/main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">



        <section class="page-header" style="background-image: url({% static 'images/background/page-header-about-1.jpg' %});">
            <div class="container">
                <h2>About Us</h2>
                <ul class="list-unstyled thm-breadcrumb">
                    <li><a href="{% url 'home'%}">Home</a></li>
                    <li><span>About Us</span></li>
                </ul><!-- /.list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

 
        <section class="about-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="about-two__content">
                            <div class="block-title text-left">
                                <p class="has-line">01. About Us</p>
                                <h3>Best Home Care <br> Center with Love</h3>
                            </div><!-- /.block-title -->
                            <p>Our goal each day is to ensure that our residents’ <br> needs are not only met but
                                exceeded. To make <br> that happen.</p>
                            <ul class="blog-details__list list-unstyled">
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    In-House Theater
                                </li>
                                <li>
                                    <i class="fa fa-check-circle"></i>
                                    Medication Management
                                </li>
                            </ul><!-- /.blog-details__list -->
                            <img src= "static/images/resources/about-1-1-sign.png" alt="">

                        </div><!-- /.about-two__content -->
                    </div><!-- /.col-lg-5 -->
                    <div class="col-lg-7">
                        <div class="about-two__image wow fadeInRight" data-wow-duration="1500ms">
                            <img src="static/images/shapes/about-2-dot-1.png" class="about-two__image-dot-1" alt="">
                            <img src="static/images/shapes/about-2-dot-2.png" class="about-two__image-dot-2" alt="">
                            <img src="static/images/resources/about-2-1.png" alt="">
                            <!--<div class="about-two__image-content">
                                <h3>Symptom Assessment <br> & Management</h3>
                                <p>Pediatric palliative care is family centered, specialized medical care for serious
                                    illnesses...</p>
                            </div>--><!-- /.about-two__image-content -->
                        </div><!-- /.about-two__image -->
                    </div><!-- /.col-lg-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.about-two -->

        <section class="funfact-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="funfact-one__single">
                            <div class="funfact-one__counter">
                                <h3><span class="counter">25</span>+</h3>
                            </div><!-- /.funfact-one__counter -->
                            <p>Years Experiences</p>
                        </div><!-- /.funfact-one__single -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="funfact-one__single">
                            <div class="funfact-one__counter">
                                <h3><span class="counter">750</span></h3>
                            </div><!-- /.funfact-one__counter -->
                            <p>Great Volunteers</p>
                        </div><!-- /.funfact-one__single -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="funfact-one__single">
                            <div class="funfact-one__counter">
                                <h3><span class="counter">20</span><!-- /.counter -->k+</h3>
                            </div><!-- /.funfact-one__counter -->
                            <p>Satisfied Clients</p>
                        </div><!-- /.funfact-one__single -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="funfact-one__single">
                            <div class="funfact-one__counter">
                                <h3><span class="counter">30</span>+</h3>
                            </div><!-- /.funfact-one__counter -->
                            <p>Awards Achieve</p>
                        </div><!-- /.funfact-one__single -->
                    </div><!-- /.col-lg-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.funfact-one -->

        <section class="faq-three">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="faq-three__image wow fadeInLeft" data-wow-duration="1500ms">
                            <img src="static/images/shapes/faq-2-dot.png" class="faq-three__image-dots" alt="">
                            <img src="static/images/resources/faq-2-1.jpg" alt="">
                        </div><!-- /.faq-three__image -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="faq-one__block">
                            <div class="block-title text-left">
                                <p class="has-line">02. Why Choose US</p>
                                <h3>Why Most of The People <br> Choose Oberlin</h3>
                            </div><!-- /.block-title -->

                            <p>Our goal each day is to ensure that our residents’ needs are not only met but exceeded.
                                To make that happen we are committed to providing an </p>
                            <div class="accrodion-grp" data-grp-name="career-one__accrodion">
                                <div class="accrodion ">
                                    <div class="accrodion-title">
                                        <h4>Resort Style Living</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>Our goal each day is to ensure that our residents’ needs are not only
                                                met.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion active">
                                    <div class="accrodion-title">
                                        <h4>Safety & Security Guaranty</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>Our goal each day is to ensure that our residents’ needs are not only
                                                met.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>24/7 Nursing Staff</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>Our goal each day is to ensure that our residents’ needs are not only
                                                met.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.faq-one__block -->

                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.faq-three -->

        <section class="team-one team-one__about-two">
            <div class="container">
                <div class="block-title text-center">
                    <p>03. Experts</p>
                    <h3>Our Registered Nurses and Skilled <br> Professionals</h3>
                </div><!-- /.block-title -->
                <div class="row high-gutter">
                    <div class="col-lg-4 wow fadeInLeft" data-wow-duration="1500ms">
                        <div class="team-one__single">
                            <div class="team-one__image">
                                <img src="static/images/team/team-1-1.jpg" alt="">
                            </div><!-- /.team-one__image -->
                            <div class="team-one__content">
                                <div class="team-one__content-inner">
                                    <h3>Frank Keller</h3>
                                    <p>Instructor</p>
                                    <div class="team-one__social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    </div><!-- /.team-one__social -->
                                </div><!-- /.team-one__content-inner -->
                            </div><!-- /.team-one__content -->
                        </div><!-- /.team-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="team-one__single">
                            <div class="team-one__image">
                                <img src="static/images/team/team-1-2.jpg" alt="">
                            </div><!-- /.team-one__image -->
                            <div class="team-one__content">
                                <div class="team-one__content-inner">
                                    <h3>Ralph Morrison</h3>
                                    <p>Instructor</p>
                                    <div class="team-one__social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    </div><!-- /.team-one__social -->
                                </div><!-- /.team-one__content-inner -->
                            </div><!-- /.team-one__content -->
                        </div><!-- /.team-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 wow fadeInRight" data-wow-duration="1500ms">
                        <div class="team-one__single">
                            <div class="team-one__image">
                                <img src="assets/images/team/team-1-3.jpg" alt="">
                            </div><!-- /.team-one__image -->
                            <div class="team-one__content">
                                <div class="team-one__content-inner">
                                    <h3>Landon Owens</h3>
                                    <p>Instructor</p>
                                    <div class="team-one__social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    </div><!-- /.team-one__social -->
                                </div><!-- /.team-one__content-inner -->
                            </div><!-- /.team-one__content -->
                        </div><!-- /.team-one__single -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.team-one -->

        <section class="appointment-one appointment-one__about-page">

            <img src="static/images/resources/appointment-person-1-1.png" class="appointment-one__moc" alt="">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-6">
                        <div class="block-title text-left">
                            <p class="has-line">04. Appointment</p>
                            <h3>Want to Hear More About <br> Oberlin Hospice?</h3>
                        </div><!-- /.block-title -->
                        <form action="assets/inc/sendemail.php" class="contact-one__form contact-form-validated">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" placeholder="Full Name" name="name">
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <input type="text" placeholder="Email Address" name="email">
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <input type="text" placeholder="Phone Number" name="phone">
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <select name="discussion" class="selectpicker">
                                        <option value="">Discussion For</option>
                                        <option value="">Basic Query</option>
                                        <option value="">Patient Admission</option>
                                    </select><!-- /.selectpicker -->
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-12">
                                    <textarea name="message" placeholder="Message"></textarea>
                                </div><!-- /.col-md-12 -->
                                <div class="col-md-12 text-left">
                                    <button type="submit" class="thm-btn contact-one__btn">Submit Now</button>
                                    <!-- /.thm-btn contact-one__btn -->
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </form>
                        <div class="result"></div><!-- /.result -->

                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.appointment-one -->


</body>

</html>
{% endblock %}