{% extends 'care/main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">



        <section class="page-header" style="background-image: url({% static 'images/background/page-header-about-1.jpg' %});">
            <div class="container">
                <h2>About Us</h2>
                <ul class="list-unstyled thm-breadcrumb">
                    <li><a href="{% url 'home'%}">Home</a></li>
                    <li><span>About Us</span></li>
                </ul><!-- /.list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

 
        <section class="about-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="about-two__content">
                            <div class="block-title text-left">
                                <p class="has-line">About Us</p>
                                <h3>Best Home Care <br> Center with Love</h3>
                            </div><!-- /.block-title -->
                            <p>Caring hands is a interdisciplinary medical care giving organizing platform aimed to optimizing quality of life and mitigating suffering among people with illness.Caring hands is a interdisciplinary medical care giving organizing platform aimed to optimizing quality of life and mitigating suffering among people with illness.</p>
<!-- /.blog-details__list -->
                            <img src= " images/resources/about-1-1-sign.png " alt="">

                        </div><!-- /.about-two__content -->
                    </div><!-- /.col-lg-5 -->
                    <div class="col-lg-7">
                        <div class="about-two__image wow fadeInRight" data-wow-duration="1500ms">
                            <img src="{% static 'images/shapes/about-2-dot-1.png" class="about-two__image-dot-1' %}" alt="">
                            <img src="static/images/shapes/about-2-dot-2.png" class="about-two__image-dot-2" alt="">
                            <img src="{% static 'images/resources/about-2-1.png' %}" alt="">
                            <!--<div class="about-two__image-content">
                                <h3>Symptom Assessment <br> & Management</h3>
                                <p>Pediatric palliative care is family centered, specialized medical care for serious
                                    illnesses...</p>
                            </div>--><!-- /.about-two__image-content -->
                        </div><!-- /.about-two__image -->
                    </div><!-- /.col-lg-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.about-two -->


        <section class="faq-three">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="faq-three__image wow fadeInLeft" data-wow-duration="1500ms">
                            <img src="{% static 'images/shapes/faq-2-dot.png" class="faq-three__image-dots' %}" alt="">
                            <img src="{% static 'images/resources/faq-2-1.jpg'%}" alt="">
                        </div><!-- /.faq-three__image -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="faq-one__block">
                            <div class="block-title text-left">
                                <p class="has-line"> Why Choose US</p>
                                <h3>Why Most of The People <br> Choose Caring hands</h3>
                            </div><!-- /.block-title -->

                            <p>Our goal is to optimizing quality of life and mitigating suffering among people with illness.</p>
                            <div class="accrodion-grp" data-grp-name="career-one__accrodion">
                                <div class="accrodion ">
                                    <div class="accrodion-title">
                                        <h4>Provide 24/7 services</h4>
                                    </div>
                                </div>
                                <div class="accrodion active">
                                    <div class="accrodion-title">
                                        <h4>Safety & Security Guaranty</h4>
                                    </div>
                                    
                                </div>
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>Registered nurses and skilled professionals</h4>
                                    </div>

                                    </div>
                                </div>
                            </div>
                        </div><!-- /.faq-one__block -->

                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.faq-three -->


</body>

</html>
{% endblock %}