{% extends 'care/amain.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<body>
<section style="background-image: url({% static 'images/background/page-header-bg-1-1.jpg' %});">
    <div class="center">
    <h1 style="color:black;text-align:center">EDIT OR DELETE SERVICES</h1>

    <table id = "users">
        <tr>
            <th>Id</th>
            <th>Service Name</th>
            <th>Action</th>
        </tr>
        {% for i in item_list %}
       
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.s_name}}</td>
            
            <td>
                <!--<form >
                    <input type = "hidden" name  ="id" value = ""/>-->
                   <a class ='btn btn-danger' style="background-color:green;" type = "submit" name  ="edit" />EDIT</a>
                <a href ="" class ='btn btn-danger' style="background-color:red;" type = "submit" name  ="delete" />DELETE</a>
                <!--</form>-->
            </td>
        </tr>
        {% endfor %}
    </table>

    
</div>
</section>
</body>
</html>
{% endblock %}