{% extends 'care/amain.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<body>
<section style="background-image: url({% static 'images/background/page-header-bg-1-1.jpg' %});">
    <div class="center">
    <h1 style="color:black;text-align:center">VERIFY SERVICE PROVIDER</h1>

    <table id = "users">
        <tr>
            <!--<th>Id</th>-->
            <th>Name</th>
            <th>Email Address</th>
            <th>Phone</th>
            <th>District</th>
            <th>Pincode</th>
            <th>License Number</th>
            <th>Action</th>
        </tr>
        {% for i in item_list %}
        {% if i.status == 0 %}
        
        <tr>
            <!--<td>{{forloop.counter}}</td>-->
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phn}}</td>
            <td>{{i.distric}}</td>
            <td>{{i.pincode}}</td>
            <td>{{i.s_license}}</td>
            <td>
                <!--<form >
                    <input type = "hidden" name  ="id" value = ""/>
                    <input style="background-color:green;" type = "submit" name  ="approve" value = "Approve"/>-->
                    <form action="{% url 'approve' i.id %}" method="POST" >
                        {% csrf_token %}
                        <input type="submit" class ='btn btn-danger' value="APPROVE"/>
                    </form><br/>
                    <form action="{% url 'delete1' i.id %}" method="POST" >
                        {% csrf_token %}
                        <input type="submit" class ='btn btn-danger' value="DENY"/>
                    </form>
                    <!--<input style="background-color:red;" type = "submit" name  ="deny" value = "Deny"/>
                </form>-->
            </td>
        </tr>
        {% endif %}
        {% endfor %}  
    </table>

    
</div>
</section>
</body>
</html>
{% endblock %}