{% extends 'care/amain.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

   
 <section style="background-image: url({% static 'images/background/page-header-bg-1-1.jpg' %});"> 
     
<form id="form" method="post">
{% csrf_token %}

 <h1>ADD SERVICE</h1>
        <!-- Details -->
        <div class="">
            <label>
                Enter Service name
            </label>
        </div>
        <div class="">
            <!-- Input Type Text -->
            <input type="text" name="s_name"
                   placeholder="Service name" />
        </div><br/>
  
        <!-- Multi-line Text Input Control -->
        <div class="">
        <button type="submit" value="submit">
            ADD SERVICE
        </button>
        </div>
    </form>
</section>


</html>
{% endblock %}