{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'css/alogin.css' %}">

</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>LOGIN</h3>
            <!--<p>Please enter your credentials to login.</p>-->
          </div>
        </div>
        {%for message in messages%}
        <p id="messages" style="color:red;">{{message}}</p>
        {%endfor%}

        <form class="login-form" method="POST"  action="" >
         
         
          
        {%csrf_token%}
          <input type="text" name="a_name" placeholder="username"/>
          <input type="password" name="a_password" placeholder="password"/>
          <button type="submit" name="submit">
          LOGIN
          </button>
          <p><a href="{% url 'home'%}">Back to Home</a></p>
          <!--<p class="message">Not registered? <a href="#">Create an account</a></p>-->
        </form>
      </div>
    </div>
</body>
</body>
</html>