{% extends 'care/main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">



        <section class="page-header" style="background-image: url({% static 'images/background/page-header-bg-1-1.jpg' %});">
        
        
            <div class="container">
                <h2>Contact Us</h2>
                <ul class="list-unstyled thm-breadcrumb">
                    <li><a href="{% url 'home'%}">Home</a></li>
                    <li><span>Contact Us</span></li>
                </ul><!-- /.list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="contact-info-one">
            <div class="container">
                <div class="block-title text-center">
                    <p>Contact Us</p>
                    <h3>Get In Touch</h3>
                </div><!-- /.block-title -->
                <div class="row">
                    <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="contact-info-one__single text-center">
                            <div class="contact-info-one__icon">
                                <i class="oberlin-icon-email"></i>
                            </div><!-- /.contact-info-one__icon -->
                            <h3>Email Address</h3>
                            <p><a href="mailto:info@oberlin.com">caringhands@gmail.com.com</a> <br> <a
                                    href="mailto:info@oberlin.company.com">officialcaringhands@gmail.com</a></p>
                        </div><!-- /.contact-info-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 wow fadeInDown" data-wow-duration="1500ms">
                        <div class="contact-info-one__single text-center">
                            <div class="contact-info-one__icon">
                                <i class="oberlin-icon-phone"></i>
                            </div><!-- /.contact-info-one__icon -->
                            <h3>Phone Number</h3>
                            <p><a href="tel:+2(305)-587-3407">+91 7865431290</a> <br> <a
                                    href="tel:+2(305)-587-3407">+91 8765123456</a></p>
                        </div><!-- /.contact-info-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="contact-info-one__single text-center">
                            <div class="contact-info-one__icon">
                                <i class="oberlin-icon-marker"></i>
                            </div><!-- /.contact-info-one__icon -->
                            <h3>Office Address</h3>
                            <p>Caring hands ,Kollam-5<br> India</p>
                        </div><!-- /.contact-info-one__single -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.contact-info-one -->

        <section class="contact-one">
            <div class="container">
                <div class="block-title text-center">
                    <p>Customer inquiry</p>
                    <h3>place an inquiry </h3>
                </div><!-- /.block-title -->
                <form action="static/inc/sendemail.php" class="contact-one__form contact-form-validated">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="Full Name" name="name">
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <input type="text" placeholder="Email Address" name="email">
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <input type="text" placeholder="Phone Number" name="phone">
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <select name="discussion" class="selectpicker">
                                <option value="">Discussion For</option>
                                <option value="">Basic Query</option>
                                <option value="">Patient Admission</option>
                            </select><!-- /.selectpicker -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-12">
                            <textarea name="message" placeholder="Message"></textarea>
                        </div><!-- /.col-md-12 -->
                        <div class="col-md-12 text-center">
                            <button type="submit" class="thm-btn contact-one__btn">Submit Now</button>
                            <!-- /.thm-btn contact-one__btn -->
                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                </form>
                <div class="result"></div><!-- /.result -->
            </div><!-- /.container -->
        </section><!-- /.contact-one -->
        <iframe

            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126135.5148913515!2d76.52503207254857!3d8.904225354420118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05fc5bdda9c621%3A0x8bf03195267372f7!2sKollam%2C%20Kerala!5e0!3m2!1sen!2sin!4v1637682194983!5m2!1sen!2sin"  
            class="google-map__contact" allowfullscreen></iframe>

</body>

</html>
{% endblock %}
