{% extends 'care/main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">



      <section class="slider-one__wrapper">
        <div class="slider-one__nav">
          <a href="#" class="slider-one__nav-left">
            <i class="far fa-angle-left"></i> </a
          ><!-- /.slider-one__nav-left -->
          <a href="#" class="slider-one__nav-right">
            <i class="far fa-angle-right"></i> </a
          ><!-- /.slider-one__nav-left -->
        </div>
        <!-- /.slider-one__nav -->
        <div
          class="slider-one__carousel owl-carousel owl-theme thm__owl-carousel"
          data-options='{
                "items": 1, "loop": true, "autoplay": true, "autoplayHoverPause": true, "autoplayTimeout": 5000,
                "margin": 0, "dots": false, "nav": false, "animateOut": "fadeOut", "animateIn": "fadeIn", "active": true, "smartSpeed": 1000
            }'
          data-carousel-next-btn=".slider-one__nav-right"
          data-carousel-prev-btn=".slider-one__nav-left"
        >
          <div
            class="item"
            style="background-image: url(static/images/main-slider/main-slider-1-1.jpg);"
          >
            <div class="slider-one__item">
              <div class="container">
                <div class="row justify-content-end">
                  <div class="col-lg-12 d-flex justify-content-end">
                    <div class="slider-one__content">
                      <div class="slider-one__content-inner">
                        <h3>
                         Finding The Best Palliative <br />
                          Care Services.
                        </h3>
                        <p>
                          Hand of care is a interdisciplinary medical care giving organizing platform aimed to optimizing quality of life and mitigating suffering among people with illness.

                        </p>
                        <!--<a
                          href="donation-single.html"
                          class="thm-btn slider-one__btn"
                          >Donate Now</a
                        >-->
                        <!-- /.thm-btn slider-one__btn -->
                      </div>
                      <!-- /.slider-one__content-inner -->
                    </div>
                    <!-- /.slider-one__content -->
                  </div>
                  <!-- /.col-lg-6 -->
                </div>
                <!-- /.row justify-content-end -->
              </div>
              <!-- /.container -->
            </div>
            <!-- /.slider-one__item -->
          </div>
          <!-- /.item -->
          <div
            class="item"
            style="
              background-image: url(static/images/main-slider/main-slider-1-2.jpg);
            "
          >
            <div class="slider-one__item">
              <div class="container">
                <div class="row justify-content-end">
                  <div class="col-lg-12 d-flex justify-content-end">
                    <div class="slider-one__content">
                      <div class="slider-one__content-inner">
                        <h3>
                         Finding The Best Palliative <br />
                          Care Services.
                        </h3>
                        <p>
                          Hand of care is a interdisciplinary medical care giving organizing platform aimed to optimizing quality of life and mitigating suffering among people with illness.

                        </p>
                        <!--<a
                          href="donation-single.html"
                          class="thm-btn slider-one__btn"
                          >Donate Now</a
                        >-->
                        <!-- /.thm-btn slider-one__btn -->
                      </div>
                      <!-- /.slider-one__content-inner -->
                    </div>
                    <!-- /.slider-one__content -->
                  </div>
                  <!-- /.col-lg-6 -->
                </div>
                <!-- /.row justify-content-end -->
              </div>
              <!-- /.container -->
            </div>
            <!-- /.slider-one__item -->
          </div>
          <!-- /.item -->
          <div
            class="item"
            style="
              background-image: url(static/images/main-slider/main-slider-1-3.jpg);
            "
          >
           <div class="slider-one__item">
              <div class="container">
                <div class="row justify-content-end">
                  <div class="col-lg-12 d-flex justify-content-end">
                    <div class="slider-one__content">-->
                      <div class="slider-one__content-inner">
                        <h3>
                          Finding The Best Palliative <br />
                          Care Services.
                        </h3>
                        <p>
                          Caring hands is a interdisciplinary medical care giving organizing platform aimed to optimizing quality of life and mitigating suffering among people with illness.
                        </p>
                        <!--<a
                          href="donation-single.html"
                          class="thm-btn slider-one__btn"
                          >Donate Now</a
                        >-->
                        </div>
                        <!-- /.thm-btn slider-one__btn -->
                      
                      <!-- /.slider-one__content-inner -->
                    </div>
                    <!-- /.slider-one__content -->
                  </div>
                  <!-- /.col-lg-6 -->
                </div>
                <!-- /.row justify-content-end -->
              </div>
              <!-- /.container -->
            </div>
            <!-- /.slider-one__item -->
          </div>
          <!-- /.item -->
        </div>
        <!-- /.slider-one__carousel owl-carousel owl-theme thm__owl-carousel -->
      </section>
      <!-- /.slider-one__wrapper -->

      <section class="service-one service-one__home-one">
        <div class="container">
          <div class="block-title text-center">
            <p> Services</p>
            <h3>
              Everyone Deserves Our <br />
              Best Services
            </h3>
          </div>
          <!-- /.block-title -->
          <div
            class="
              service-one__carousel-two
              thm__owl-carousel
              owl-carousel owl-theme
            "
            data-options='{
                    "items": 2, "nav": false, "dots": true, "margin": 40, "loop": true, "smartSpeed": 700, "autoplay": true, "autoplayTimeout": 5000, "autoplayHoverPause": true, "responsive": {
                        "0": {"items": 1, "margin": 0, "dots": false, "nav": true },
                        "767": {"items": 1, "margin": 0, "dots": false, "nav": true },
                        "991": {"items": 2, "margin": 30},
                        "1199": {"items": 3}
                    }
                }'
          >
            <div class="item">
              <div class="service-one__single">
                <div class="service-one__content">
                  <div class="service-one__icon">
                    <i class="oberlin-icon-stethoscope"></i>
                  </div>
                  <!-- /.service-one__icon -->
                  <h3><a href="service-assisted.html">Nursing service</a></h3>
                        <p>
                            Nurses help maintaining a direct line of communication between the patient and doctor. Help patients and their families feel safe and comfortable. 
                        </p>
                        <a href="service-assisted.html" class="service-one__link"><i class="far fa-long-arrow-alt-right"></i></a
                  ><!-- /.service-one__link -->
                </div>
                <!-- /.service-one__content -->
              </div>
              <!-- /.service-one__single -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="item">
              <div class="service-one__single">
                <div class="service-one__content">
                  <div class="service-one__icon">
                    <i class="oberlin-icon-disability"></i>
                  </div>
                  <!-- /.service-one__icon -->
                  <h3><a href="service-details.html">Ambulance service</a></h3>
                        <p>
                            Provide flexible, prompt, safe and comfortable transport to the patients moving to a place of their choice towards the end of life and to those needing palliativa care treatments and investigations.
                        </p>
                        <a href="service-details.html" class="service-one__link"><i class="far fa-long-arrow-alt-right"></i></a
                  ><!-- /.service-one__link -->
                </div>
                <!-- /.service-one__content -->
              </div>
              <!-- /.service-one__single -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="item">
              <div class="service-one__single">
                <div class="service-one__content">
                  <div class="service-one__icon">
                    <i class="oberlin-icon-blind"></i>
                  </div>
                  <!-- /.service-one__icon -->
                  <h3><a href="service-residential.html">Equipment service</a></h3>
                        <p>
                            Delivery of medical equipments based on the need of patients. Medical equipments in low cost at any given time and agreeing service delivery targets based on context.
                        </p>
                        <a href="service-residential.html" class="service-one__link"><i class="far fa-long-arrow-alt-right"></i></a
                  ><!-- /.service-one__link -->
                </div>
                <!-- /.service-one__content -->
              </div>
              <!-- /.service-one__single -->
            </div>
            <!-- /.col-lg-4 -->

            <div class="item">
              <div class="service-one__single">
                <div class="service-one__content">
                  <div class="service-one__icon">
                    <i class="oberlin-icon-stethoscope"></i>
                  </div>
                  <!-- /.service-one__icon -->
                  <h3><a href="service-assisted.html">Nursing service</a></h3>
                        <p>
                            Nurses help maintaining a direct line of communication between the patient and doctor. Help patients and their families feel safe and comfortable. 
                        </p>
                        <a href="service-assisted.html" class="service-one__link"><i class="far fa-long-arrow-alt-right"></i></a
                  ><!-- /.service-one__link -->
                </div>
                <!-- /.service-one__content -->
              </div>
              <!-- /.service-one__single -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="item">
              <div class="service-one__single">
                <div class="service-one__content">
                  <div class="service-one__icon">
                    <i class="oberlin-icon-disability"></i>
                  </div>
                  <!-- /.service-one__icon -->
                  <h3><a href="service-details.html">Ambulance service</a></h3>
                        <p>
                            Provide flexible, prompt, safe and comfortable transport to the patients moving to a place of their choice towards the end of life and to those needing palliativa care treatments and investigations.
                        </p>
                        <a href="service-details.html" class="service-one__link"><i class="far fa-long-arrow-alt-right"></i></a
                  ><!-- /.service-one__link -->
                </div>
                <!-- /.service-one__content -->
              </div>
              <!-- /.service-one__single -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="item">
              <div class="service-one__single">
                <div class="service-one__content">
                  <div class="service-one__icon">
                    <i class="oberlin-icon-blind"></i>
                  </div>
                  <!-- /.service-one__icon -->
                  <h3><a href="service-residential.html">Equipment service</a></h3>
                        <p>
                            
                          Delivery of medical equipments based on the need of patients. Medical equipments in low cost at any given time and agreeing service delivery targets based on context.
                        </p>
                        <a href="service-residential.html" class="service-one__link"><i class="far fa-long-arrow-alt-right"></i></a
                  ><!-- /.service-one__link -->
                </div>
                <!-- /.service-one__content -->
              </div>
              <!-- /.service-one__single -->
            </div>
            <!-- /.col-lg-4 -->
            
        <!-- /.container -->
      </section>
      <!-- /.service-one -->

      
      <!-- /.about-three -->

      <section
        class="cta-one"
        style="background-image: url({%static 'images/background/page-header-story-1.jpg' %})"
      >
        <div class="container text-center">
          <h3>Book a service</h3>
          
          <a href="" class="thm-btn cta-one__btn">Subscribe</a
          ><!-- /.thm-btn cta-one__btn -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /.cta-one -->

     





                            
</body>



</html>
{% endblock %}