{% extends 'care/smain.html' %}
{% load static %}
{% block content %}


<div class="main">
    <div class="container">
        <div class="signup-content">
            <div class="signup-img" style="background-image: url({% static 'images/bg_1.jpg' %});">  
            </div>
            <div class="signup-form">
                <form method="POST" class="register-form" id="register-form">
                    {% csrf_token %}
                    <h2> Registration Form</h2>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="name">Name  :</label>
                            <input type="text" name="name" id="name" required/>
                        </div>
                        <div class="form-group">
                            <label for="father_name">Licence Number :</label>
                            <input type="text" name="s_license" id="father_name" required/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="address">Address :</label>
                            <input type="text" name="addr" id="address" required/>
                        </div>
                        <div class="form-group">
                            <label for="father_name">Phone Number :</label>
                            <input type="text" name="phn" id="father_name" required/>
                        </div>
                    </div>            
                    <div class="form-row">
                        <div class="form-group">
                            <label for="state">District :</label>
                            <div class="form-select">
                                <select name="distric" id="state">
                                    <option value=""></option>
                                    <option value="Kasaragod">Kasaragod</option>
                                    <option value="Kannur"> Kannur</option>
                                    <option value="Wayanad"> Wayanad</option>
                                    <option value="Kozhikode"> Kozhikode</option>
                                    <option value="Malappuram"> Malappuram</option>
                                    <option value="Palakkad"> Palakkad</option>
                                    <option value="Thrissur"> Thrissur</option>
                                    <option value="Ernakulam"> Ernakulam</option>
                                    <option value="Idukki"> Idukki</option>
                                    <option value="Kottayam"> Kottayam</option>
                                    <option value="Alappuzha"> Alappuzha</option>
                                    <option value="Pathanamthitta"> Pathanamthitta</option>
                                    <option value="Kollam"> Kollam</option>
                                    <option value="Thiruvananthapuram"> Thiruvananthapuram</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pincode">Pincode :</label>
                        <input type="text" name="pincode" id="pincode">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="email">Email ID :</label>
                            <input type="email" name="email" id="email" />
                        </div>
                        <div class="form-group">
                          
                        </div>
                    </div> 
                    <div class="form-row">
                        <div class="form-group">
                            <label for="pass">Password  :</label>
                            <input type="text" name="password" id="pass" required/>
                        </div>
                         <!--
                        <div class="form-group">
                           
                            <label for="cpass">Confirm Password :</label>
                            <input type="text" name="cpass" id="cpass" required/>
                        </div>
                        -->
                    </div>
                    <div class="form-submit">
                        <input type="submit" value="Reset All" class="submit" name="reset" id="reset" />
                        <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>




{%endblock%}